.ui.horizontal.segments.OrdersHeaderSection {
    border: 0;
    box-shadow: none;
}

.ui.horizontal.segments.OrdersHeaderSection .ui.segment {
    border: 0;
}

.ui.segment.OrdersTitle {
    text-align: left;
}

.ui.segment.OrdersSearchSection {
    text-align: right;
}

.ui.segment.OrdersSection .landing-container .ui.table {
    font-size: 1.25em;
}

.react-tabs__tab-list {
    text-align: left;
    font-size: 1.5em;
}

.react-tabs .react-tabs__tab-list {
    font-size: 1.5em;
}

textarea {
    width: 25%;
    height: 75px;
}
