.ui.horizontal.segments.CustomersHeaderSection,
.ui.segments.CustomersSection {
    border: 0;
    box-shadow: none;
}

.ui.table.addNotifications {
    border: 0;
    margin: auto;
    box-shadow: none;
}

.ui.horizontal.segments.CustomersHeaderSection .ui.segment {
    border: 0;
}

.ui.segment.CustomersTitle {
    text-align: left;
}

.ui.segment.CustomersSearchSection {
    text-align: right;
}

.CustomerSection .ui.table, .CustomerSection .ui.radio label,
.CustomerSection .ui.table.addNotifications .dropdown span
{
    font-size: 1.6em;
}

.CustomersSection .landing-container .ui.table {
    font-size: 1.25em;
}
