.ui.thin.left.sidebar.SidebarMenu, .ui.thin.right.sidebar.SidebarMenu {
  width: 200px;
}

.SidebarMenu.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
  height: auto;
}

.ui.vertical.menu.sidebar.SidebarMenu {
  background-color: rgb(110, 187, 67);
}
.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .title,
.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .title .ui.button {
  width: 100%;
  color: #fff;
  text-align: left;
  background-color: rgb(59, 165, 0);
}

.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .active.title,
.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .active.content .active.item {
  background: rgba(0,0,0,0.07);
}

.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .content,
.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .content .ui.button {
  width: 100%;
  color: #fff;
  text-align: left;
  background-color: rgb(90, 178, 40);
}

.ui.vertical.menu.sidebar.SidebarMenu .accordion.ui .title .ui.button i.icon {
      background-color: rgb(52, 123, 13);
}

.SidebarMenu.ui.labeled.icon.menu .accordion.ui .item {
  padding: 0;
}

.SidebarMenu.ui.vertical.icon.menu {
  width: 100%;
}
.top-header {
  position: fixed;
  width: 100%;
  z-index: 200;
}
.top-header .top-bar-logo {
  width: 16%;
}
.top-bar-logo img {
  height: 45px !important;
  width: 100px !important;
}
.top-header .top-bar-right-empty {
  width: 55%;
}
.top-header .top-bar-right-welcome span {
  font-size: 15px;
  font-family: SourceSansPro-Regular;
}
.top-header .top-bar-right-notification i .notificationsCount {
  background-color: #6ebc43;
  border-radius: 50%;
  width: auto;
  left: 25px;
  top: 10px;
  font-size: 15px;
  position: absolute;
  font-weight: bolder;
  font-family: monospace;
  color: #fff;
  padding: 1px 3px;
  animation: notification-pulse 2s infinite;
}
.top-header .top-bar-right-notification i .notificationsCount sup {
  top: -0.2em;
  font-size: 95%;
}
.top-header .top-bar-right-notification i .notificationsCount:hover {
  animation: none;
}
.top-header .top-bar-right-logout i {
  margin: 0 !important;
}
.top-header .top-bar-right-logout .ui.button {
  box-shadow: none !important;
  background: transparent !important;
  color: rgba(255,255,255,.9) !important;
  font-size: 15px !important;
  font-family: SourceSansPro-Regular;
  padding-left: 10px;
}
.top-bar-right.item:before {
  background: none;
}


@keyframes notification-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(110, 180, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(110, 180, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(110, 180, 0, 0);
    box-shadow: 0 0 0 10px rgba(110, 180, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(110, 180, 0, 0);
    box-shadow: 0 0 0 0 rgba(110, 180, 0, 0);
  }
}
